/* WEBSITE THEME */

* {
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* LOGO & NAVIGATION */

.logo {
    margin: auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 250px;
}

.first-hr {
    width: 35%;
    margin: 0 auto;
}

.link-list {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    word-spacing: 40px;
}

a {
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
    color: black;
}

nav a:hover {
    color: red;
}

.link-list .current {
    color: blue;
}

.second-hr {
    width: 50%;
    margin: 0 auto;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* FOOTER */

.footer {
    margin-top: auto;
    background-color: black;
}

.footer-container {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* HOME PAGE */

.banner {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

.home-text {
    margin: 20px;
    text-align: center;
}

.home-text h2 {
    font-size: 175%;
    padding-bottom: 10px;
}

.home-text p {
    padding: 20px 15% 0 15%;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* PREVIEW PAGE */


.preview-img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* DOWNLOAD PAGE */

.click-download {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: green;
    border: 1px solid;
    color: white;
    font-weight: 550;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 100px;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: yellowgreen;
    color: black;
}

.install {
    margin: 10px 15% 50px;
}

.install h2 {
    padding-bottom: 25px;
    text-decoration: underline;
}

.install h4 {
    padding-bottom: 20px;
}

.install a {
    color: #0645AD;
    font-weight: normal;
}

.install a:hover {
    text-decoration: underline;
}

.run {
    margin: 20px 15% 15px;
}

.run h2 {
    padding-bottom: 25px;
    text-decoration: underline;
}

.run h4 {
    padding-bottom: 10px;
}

.run ol {
    margin-top: 30px;
}

.run a {
    color: #0645AD;
    font-weight: normal;
}

.run a:hover {
    text-decoration: underline;
}

.install span, .run span {
    font-weight: bold;
}

/* ----------------------------------------------------------------------------------------------------------------- */
/* ABOUT PAGE */

.our-team {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.our-team h2 {
    padding-bottom: 10px;
    font-size: 200%;
}

.flex-container {
    justify-content: space-around;
    display: flex;
    margin: 40px 20px;
    flex-wrap: wrap;
}

figure {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid;
    margin: 2em;
}

figure img {
    max-width: 350px;
    height: auto;
}

figcaption h3 {
    padding: 10px;
    color: black;
}

figcaption {
    color: dimgray;
    padding-bottom: 15px;
    text-align: center;
}

/* ----------------------------------------------------------------------------------------------------------------- */
